[submodule "comfyui_frontend"]
	path = comfyui_frontend
	url = https://github.com/BagaSept26/ComfyUI_frontend.git
[submodule "ComfyUI"]
	path = ComfyUI
	url = https://github.com/BagaSept26/ComfyUI.git
